<ol>
  <% @tasks.each do |task| %>

  <li class="task-container">
    <header>

      <h2 class="task-title"><%= link_to "#{task.title}", task_path(task) %></h2>

      <span class="underline"></span>

      <ul class="mutators">
        <li class="task-action edit"><%= link_to edit_task_path(task),
        aria: {label: "Edit this Task"} do %>
        <i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i>
        <% end %></li>

        <li class="task-action delete"><%= link_to task_path(task),
        aria: {label: "Delete this Task"},
        data: {confirm: "Are you sure you want to delete permanently?"},
        method: :delete do %>
        <i class="fa fa-trash fa-fw fa-lg" aria-hidden="true"></i>
        <% end %></li>
      </ul>

    </header>

    <ul>

      <li class="task-action complete"><%= link_to complete_task_path(task),
      class: name_completed_class(task),
      aria: {label: "Mark Task complete"},
      method: :patch do %>
      <i class="fa fa-check fa-fw fa-lg" aria-hidden="true"></i>
      <% end %></li>

    </ul>
  </li>
  <% end %>
</ol>
