<div class="form-container">


<%= render partial: 'complete_link', locals: {task: @task} %>

<table>
  <tr>
    <th><%= @task.title %></th>
  </tr>
  <tr>
    <td><%= @task.description %></td>
  </tr>
  <tr>
    <td><%= @task.due_date %></td>
  </tr>

</table>

</div>
