html {
  background-color: rgb(255,255,255);
  font-family: 'Josephin Sans', sans-serif;
}


h1 {
  border-bottom: solid thin;
  border-color: rgb(88, 198, 176);
  color: rgb(95, 95, 95);
  padding: .5rem 5rem;
  margin: 0;
  font-weight: 100;
  font-size: 3rem;
}

nav > a {
  margin: 1rem;
}

.task-container {
  display: flex;
  /*align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;*/
}

.task-container > header{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  width: 25%;
}

.task-container:hover .task-action {
  visibility: visible;

}

.task-action.complete > .done {
  color: rgb(51, 155, 94);
}

.task-action.complete > .pending {
  color: rgb(239, 111, 94);
  visibility: hidden;
}

.complete:hover .fa-check {
  visibility: visible;

}

.task-action.edit,
.task-action.delete {
  visibility: hidden;
  float: left;
  list-style: none;
  margin: .3rem;
}


.task-action.complete {
  margin: .25rem;
  border-style: solid;
  border-width: .15rem;
  border-color: rgb(88, 198, 176);
  border-radius: 50%;
  padding: .75rem;
  float: left;
  list-style: none;
}


/*li {
float: left;

}*/
ul {
  padding: 0;
}

a {
  color: rgb(149, 149, 149);
  text-decoration: none;
}

.task-title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*font-weight: normal;*/
}

.task-title > a {
  color: rgb(95, 95, 95);
  font-weight: 100;
}

.underline {
  border: solid thin;
  color: rgb(88, 198, 176);
  width: 100%;

}
